{{ if .IsHome }}
{{ with site.GetPage "authors/admin" }}
  {{ $sameAs := slice }}
  {{ range .Params.profiles }}
    {{ if hasPrefix .url "https://" }}{{ $sameAs = $sameAs | append .url }}{{ end }}
  {{ end }}
  {{ $orgs := slice }}
  {{ range .Params.organizations }}
    {{ $orgs = $orgs | append (dict "@type" "Organization" "name" .name "url" .url) }}
  {{ end }}
  {{ $data := dict "@context" "https://schema.org" "@type" "Person" "name" .Title "jobTitle" .Params.role "url" site.Home.Permalink "affiliation" $orgs "sameAs" $sameAs }}
  <script type="application/ld+json">{{ $data | jsonify | safeJS }}</script>
{{ end }}
{{ end }}
